
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');


body{
    text-align: center;
    font-family: 'Archivo', sans-serif;
    background-color: antiquewhite;
}

h1{
    margin: 20px;
}

#startPage > p {
    margin: 30px;
    font-size: 20px;
}
input {
    padding: 5px;
}
.hidden{
    display: none;

}

img {
    height: 200px;
}

.choose {
    height: 200px;
    padding: 10px;
}

#tamagotchi {
    font-size: 20px;
}

#pic {
    float: right;
    margin-right: 20%;
    margin-top: 50px;
}

#stats {
    float: left;
    margin-left: 20%;
    margin-top: 80px;
} 

#buttons {
    position: absolute;
    margin-top: 350px;
    width: 100%;
}

#buttons > button{
    padding: 10px 30px;
    font-size: 25px;
    border-radius: 15px 50px 15px;
}

#reset {
    margin-top: 50px;
    padding: 10px 30px;
    font-size: 25px;
    border-radius: 15px 50px 15px;
}

#start {
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 15px;
}

#color1{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
    border: 1px solid black;
}

#color2{
    position: fixed;
    bottom: 10px;
    right: 70px;
    width: 50px;
    height: 50px;
    background-color: plum;
    border: 1px solid black;
}

#color3{
    position: fixed;
    bottom: 10px;
    right: 130px;
    width: 50px;
    height: 50px;
    background-color: lightsalmon;
    border: 1px solid black;
}

#color4{
    position: fixed;
    bottom: 10px;
    right: 190px;
    width: 50px;
    height: 50px;
    background-color: palegreen;
    border: 1px solid black;
}

#social {
    position: fixed;
    bottom: 10px;
    left: 10px;
}
#social > a {
    color: black;
    text-decoration: none;
}
#social > a:hover{
    color: purple;
    text-decoration: underline;
}